.dropdown {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.dropdown-menu-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.dropdown-toggle {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 30px;
  transform: translate(19vh, -9vh); 
  padding: 0;
  order: 2;
}

.dropdown-menu {
  position: absolute;
  transform: translate(13vh, 4.5vh); 
  z-index: 1;
  background-color: #f1f1f1;
  min-width: 60px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.dropdown-menu a {
  color: #141414;
  padding: 8px 0;
  margin-bottom: 12px;
  position: relative;
}

.dropdown-menu a::after {
  content: "";
  position: absolute;
  left: -1vh;
  right: 0;
  bottom: -7px;
  height: 2px;
  width: 125%;
  background-color: #a13d3d;
}

.dropdown-menu a:last-child::after {
  display: none;
}