.forgot-container {
  background-image: url('../../Images/loc-wall.jpg');
  background-size: cover;
  padding-top: 2vh;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
.forgot-row {
  display: grid;
  width: 85vw;
  max-width: 35vw;
  color: #fff;
  text-align: center;
  place-items: center;
  margin: 9dvh 30dvw;
  min-height: 70vh;
  border: 2px solid white;

  border-radius: 5px;
}

.forgot-h {
  margin-top: -10dvh;

  font-size: 2.5em;
}

.forgot-row .formy-group {
  margin: 0.5em 0;
}

.information-text {
  margin-top: -1vh;
  color: #62ebb2dd;
}

.forgot-row .formy-group input {
  display: block;
  padding: 0.5em 5em;
  width: 30%;
  margin-top: 4em;
  margin-left: 20%;
  margin-bottom: 0.5em;
  background-color: inherit;
  border: none;
  border-bottom: 1px solid #ffffff;
  color: #eee;
}
#button2:hover {
  color: #fff;
  background-color: hsl(0, 42%, 56%);
}

.forgot-row .formy-group input::placeholder {
  color: rgb(180, 175, 249);
  margin-left: -7vh;
}

.forgot-row .formy-group input:focus,
.forgot-row .formy-group button:focus {
  background-color: #fff;
  color: #000;
  border: none;
  animation: pulse 1s infinite ease;
}
.forgot-row .formy-group button {
    position: relative;
  border: 1px solid #fff;
  border-radius: 5px;
  outline: none;
  -moz-user-select: none;
  user-select: none;
  color: #333;
  font-weight: 800;
  cursor: pointer;
  margin-top: 3em;
  padding: 2vh 1vw;
  margin-left:3.5vw;
}
.forgot-row .formy-group button:hover,
.forgot-row .formy-group button:focus {
  background-color: #fff;
}

 #button2{
  background-color: #ffff ;
  color: #000000;
  font-weight: 700 ;
  padding: 2vh 2vh ;
   margin: 4vh;
  border: none;
 
  width: 50%;
  
  cursor: pointer;
  border-radius: 20px;
  font-size: 1vw;
  
  transition: 0.3s ease;
 }


@media only screen and (min-width: 811px) and (max-width: 1225px) {
  
    
    .forgot-row .formy-group button{
        margin-left: 12vw;
    }
}

@media screen and (max-width: 600px) {

  .forgot-row {
    
    max-width: 75vw;
    margin-left: 6vh;
    
  }
   
  .forgot-h {
  
  
    font-size: 2em;
  }
  
  .forgot-row .formy-group {
    
    margin: 1em -2em;
  }
  
  .information-text {
    margin-top: 3vh;
    padding-bottom: 3vh;
    color: #62ebb2dd;
  }
  .forgot-row .formy-group input:focus{
    width:11vh;
    height:4vh;
  }
  #button2{
    background-color: #ffff ;
    color: #000000;
    font-weight: 700 ;
    border: none;
    margin-bottom: 3vh;
    width: 50%;
    padding: 1vh 1vw 2vw 0;
    cursor: pointer;
    border-radius: 20px;
    font-size: 5vw;
    border: 0.5vw solid transparent;
    transition: 0.3s ease;
  }

}
