

.disaster-sm {
    background-color: cadetblue;
    height: 100%;
    width: 100vw;
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
}

.disaster-scro {
    overflow-y: auto;
    max-height: 60vh; /* Adjust maximum height as needed */
    overflow-x: hidden;
}

.disaster-di {
    margin-left: auto; /* Move to the left for smaller screens */
    margin-right: auto; /* Move to the right for smaller screens */
    margin-bottom: 0.1%;
    text-align: center; /* Center text */
    
}

.disaster-img {
    margin-left: auto; /* Move to the left for smaller screens */
    margin-right: auto; /* Move to the right for smaller screens */
    width: 80%; /* Adjust width for smaller screens */
    max-width: 600px; /* Limit maximum width for desktop screens */
    height: auto;
    border-radius: 10px;
    
}

.disaster-fd {
    overflow-y: auto;
    list-style-type: none;
    padding: 0;
    text-align: center;
   
}
.disaster-tqw{
    text-align: center;
    
}

.disaster-fd li {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 2vh;
    margin-right: 2vh;
   
}


/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    .disaster-img {
        width: 70%; /* Adjust width for smaller screens */
        max-width: none; /* Remove maximum width */
        margin-left: 15%;
    }
    .disaster-sm{
        height: 100vh;
    }
    .disaster-di{
        padding-top: 10vh;
    }
}